# INI CUMAN TEMPLATE, NANTI DISESUAIKAN SAMA KEBUTUHAN KITA
# NANTI COPY FILE INI JADI .ENV, GAK AKAN KE PUSH KARENA UDAH GUA SETUP DI GITIGNORE

# Frontend
NEXT_PUBLIC_API_URL=

# Database
DATABASE_URL=

# Redis
REDIS_URL=

# OSRM
OSRM_URL=

# MAPID
NEXT_PUBLIC_MAPID_API_KEY=

# Gemini
GEMINI_API_KEY=

# RAG
EMBEDDING_MODEL=

# MCP
MCP_SERVER_URL=