@import "tailwindcss";

:root {
  --background: #F4F4FA;
  --foreground: #1A1832;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #2D2A70;
  --color-accent: #ED6B23;
  --color-text-gray: #6B6B8F;
  --color-text-dark: #1A1832;
  --color-border-light: #E2E2EF;
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
